<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<title>TapSearch</title>
</head>
<style>
body {
 background-color: orange;
}
}
a{
	text-decoration: none;
	color: black;
}
</style>
<body>
	<div class="container-fluid">
	<div class="text-center">
		<h1>Wecome to Tapsearch</h1>
		<div style="margin: 50px;">
			<p><strong>Click on clear before using this application for smooth process and good results.</strong></p>
			<a href= '/tapsearch/index/'><button type="button" class="btn btn-outline-primary">Index</button></a>
			<a href= '/tapsearch/search/'><button type="button" class="btn btn-outline-secondary">Search</button></a>
			<a href= '/tapsearch/clear/'><button type="button" class="btn btn-outline-success">Clear</button></a>
		</div>
	<div>
	<ul style="list-style-type:none;">
		<li><strong>Index: </strong>Click index to store the data in the form of inverted index</li>
		<li><strong>Search: </strong>Click search to fecth the data order by frequency</li>
		<li><strong>Clear: </strong>Click clear to delete all the store data.</li>
	</ul>
	</div>
	</div>
	</div>
</body>
</html>